.friends {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.friends__list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
