.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-spacing: 1px;
  box-shadow: 0 0 10px #c6cccced;
}

th {
  background-color: rgb(77, 184, 211);
  color: #fff;
  width: 250px;
  padding: 15px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}
