table {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-spacing: 1px;
}

th {
  background-color: rgb(77, 184, 211);
  color: #fff;
  width: 200px;
  padding: 15px 0;
  font-size: 18px;
}

td {
  align-items: center;
  background-color: #fff;
  color: rgb(148, 146, 146);
  width: 200px;
  padding: 15px 0;
  font-size: 18px;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

table {
  background-color: #faedf7;
}
